#partner
  .row-fluid
    .span12
      %hgroup
        %h2.wf.wf-h2
          = image_tag( "fire.gif", :alt => "" )
        %h3.ct9
          = image_tag( "hot.gif", :alt => "hot" )
          ！聽眾獨享優惠！
          = image_tag( "hot.gif", :alt => "hot" )
        = image_tag( "line.gif", :alt => "" )
  .row-fluid
    .span12
      = image_tag( "hard_drive.gif", :alt => "synology 群暉" )
      .slogan HITCON 2012購票憑名牌即可享 Synology DS212j 八折優惠（市價 NT$6,000, HIT 價 NT$4,800）
      = image_tag( "line_of_fire.gif", :alt => "" )
      = partial "partial/bottom"