
%ul.thumbnails

  %li.span3
    %h2.ct9 主辦單位
    .thumbnail
      = image_tag( "sponsor/chroot.png", :alt => "chroot" )
      .caption
        %h2 chroot
        %p 有史以來最低調的駭客讀書會
        %p.last
          %a.btn.btn-primary{:href => "http://www.chroot.org/"} Website

  %li.span3
    %h2.ct9 報名系統
    .thumbnail
      = image_tag( "sponsor/accupass.png", :alt => "活動通" )
      .caption
        %h2 Accupass 活動通
        %p 有史以來最棒的報名活動系統
        %p.last
          %a.btn.btn-primary{:href => "http://www.accupass.com/"} Website

  %li.span3
    %h2.ct9 場地提供
    .thumbnail
      = image_tag( "sponsor/ossf.png", :alt => "Open Foundry" )
      .caption
        %h2 Open Foundry
        %p 有史以來最棒的自由軟體平台
        %p.last
          %a.btn.btn-primary{:href => "http://www.openfoundry.org/"} Website

  %li.span3
    %h2.ct9 網站設計
    .thumbnail
      = image_tag( "sponsor/evendesign.png", :alt => "evendesign" )
      .caption
        %h2 evendesign
        %p 有史以來最棒的網頁設計
        %p.last
          %a.btn.btn-primary{:href => "http://evenwu.com/"} Website

%h2.ct9 偉大的協辦們
%ul.thumbnails

  %li.span3
    .thumbnail
      = image_tag( "sponsor/xecure.png", :alt => "Xecure Lab" )
      .caption
        %h2 Xecure Lab
        %p 有史以來最棒的協辦
        %p.last
          %a.btn.btn-primary{:href => "http://www.xecure-lab.com/"} Website

  %li.span3
    .thumbnail
      = image_tag( "sponsor/aniarc.png", :alt => "aniarc 動漫新聞" )
      .caption
        %h2 aniarc 動漫新聞
        %p 有史以來最棒的新聞台
        %p.last
          %a.btn.btn-primary{:href => "http://aniarc.com/"} Website

  %li.span3
    .thumbnail
      = image_tag( "sponsor/faya.png", :alt => "法亞科技整合行銷" )
      .caption
        %h2 法亞科技整合行銷
        %p 有史以來最棒的行銷
        %p.last
          %a.btn.btn-primary{:href => "http://www.faya.com.tw/"} Website

  %li.span3
    .thumbnail
      = image_tag( "sponsor/fast.png", :alt => "NTU Fast Crypto Lab" )
      .caption
        %h2 NTU Fast Crypto Lab
        %p 有史以來最棒的 Lab
        %p.last
          %a.btn.btn-primary{:href => "https://www.facebook.com/groups/130560250287403/"} Website


%h2.ct9 Ultimate Level 天龍級贊助
%ul.thumbnails

  %li.span12
    .thumbnail
      = image_tag( "sponsor/ms.png", :alt => "Microsoft 微軟" )
      .caption
        %h2 Microsoft 微軟
        %p 有史以來最棒的軟體公司
        %p.last
          %a.btn.btn-primary{:href => "http://www.microsoft.com.tw/"} Website

%h2.ct9 鑽石級贊助
%ul.thumbnails

  %li.span6
    .thumbnail
      = image_tag( "sponsor/360.png", :alt => "奇虎 360 科技有限公司" )
      .caption
        %h2 奇虎 360 科技有限公司
        %p 有史以來最棒的防毒軟體 (真心)
        %p.last
          %a.btn.btn-primary{:href => "http://www.360.cn/"} Website

  %li.span6
    .thumbnail
      = image_tag( "sponsor/trend.png", :alt => "Trend Micro" )
      .caption
        %h2 Trend Micro
        %p 有史以來最棒的防毒軟體 (真心)
        %p.last
          %a.btn.btn-primary{:href => "http://trendmicro.com/"} Website


%h2.ct9 白金級贊助
%ul.thumbnails

  %li.span4
    .thumbnail
      = image_tag( "sponsor/ijinshan.png", :alt => "金山" )
      .caption
        %h2 金山網路
        %p 有史以來最金的山
        %p.last
          %a.btn.btn-primary{:href => "http://www.ijinshan.com/"} Website

  %li.span4
    .thumbnail
      = image_tag( "sponsor/hp.png", :alt => "HP 惠普" )
      .caption
        %h2 HP 惠普
        %p 有史以來最棒的電腦品牌
        %p.last
          %a.btn.btn-primary{:href => "http://www.hpenterprisesecurity.com"} Website

  %li.span4
    .thumbnail
      = image_tag( "sponsor/osslab.png", :alt => "OSSLab 開放軟體實驗室" )
      .caption
        %h2 OSSLab 開放軟體實驗室
        %p 有史以來最棒的開放軟體實驗室
        %p.last
          %a.btn.btn-primary{:href => "http://www.osslab.com.tw/"} Website

%h2.ct9 金級贊助
%ul.thumbnails

  %li.span3
    .thumbnail
      = image_tag( "sponsor/fairline.png", :alt => "Fairline 中飛科技" )
      .caption
        %h2 Fairline 中飛科技
        %p 有史以來最棒的資安產品
        %p.last
          %a.btn.btn-primary{:href => "http://www.fairline.com.tw/"} Website

  %li.span3
    .thumbnail
      = image_tag( "sponsor/synology.png", :alt => "Synology 群暉科技" )
      .caption
        %h2 Synology 群暉科技
        %p 有史以來最棒的 NAS
        %p.last
          %a.btn.btn-primary{:href => "http://www.synology.com.tw/"} Website

  %li.span3
    .thumbnail
      = image_tag( "sponsor/elcomsoft.png", :alt => "ElcomSoft" )
      .caption
        %h2 ElcomSoft
        %p 有史以來最棒的破解
        %p.last
          %a.btn.btn-primary{:href => "http://www.elcomsoft.com/"} Website

  %li.span3
    .thumbnail
      = image_tag( "sponsor/unalis.png", :alt => "松崗科技" )
      .caption
        %h2 松崗科技
        %p 有史以來最棒的科技
        %p.last
          %a.btn.btn-primary{:href => "http://www.unalis.com.tw/"} Website



%ul.thumbnails

  %li.span3
    %h2.ct9 銀級贊助
    .thumbnail
      = image_tag( "sponsor/yahoo.png", :alt => "Yahoo" )
      .caption
        %h2 Yahoo
        %p 有史以來最棒的唷~
        %p.last
          %a.btn.btn-primary{:href => "http://www.yahoo.com/"} Website



  %li.span2
    %h2.ct9 特別贊助
    .thumbnail
      = image_tag( "sponsor/tradevan.png", :alt => "關貿網路" )
      .caption
        %h2 關貿網路
        %p.last
          %a.btn.btn-primary{:href => "http://www.tradevan.com.tw/"} Website

-#  %li.span3
-#    .thumbnail
-#      = image_tag( "sponsor/systex.png", :alt => "精誠科技" )
-#      .caption
-#        %h2 精誠科技
-#        %p 有史以來最棒的2,700名員工
-#        %p.last
-#          %a.btn.btn-primary{:href => "http://www.systex.com.tw/"} Website



-# 協力媒體
%ul.thumbnails

%h2.ct9 會議夥伴
%ul.thumbnails

  %li.span3
    .thumbnail
      = image_tag( "sponsor/blackhat.png", :alt => "BlackHat" )
      .caption
        %h2 BlackHat
        %p 有史以來最黑的駭客研討會
        %p.last
          %a.btn.btn-primary{:href => "http://www.blackhat.com/"} Website

  %li.span3
    .thumbnail
      = image_tag( "sponsor/av.png", :alt => "AV Tokyo" )
      .caption
        %h2 AV Tokyo
        %p 有史以來最不易誤解的研討會
        %p.last
          %a.btn.btn-primary{:href => "http://www.avtokyo.org/"} Website

  %li.span3
    .thumbnail
      = image_tag( "sponsor/syscan.png", :alt => "SyScan" )
      .caption
        %h2 SyScan
        %p 有史以來最棒的研討會
        %p.last
          %a.btn.btn-primary{:href => "http://syscan.org/"} Website

 
