
%h2 主辦協辦
%ul.thumbnails

  %li.span4
    .thumbnail
      = image_tag( "sponsor/accupass.png", :alt => "活動通" )
      .caption
        %h2 Accupass 活動通
        %p 有史以來最棒的報名活動系統
        %p.last
          %a.btn.btn-primary{:href => "http://www.accupass.com/"} Website

  %li.span4
    .thumbnail
      = image_tag( "sponsor/ossf.png", :alt => "Open Foundry" )
      .caption
        %h2 Open Foundry
        %p 有史以來最棒的自由軟體平台
        %p.last
          %a.btn.btn-primary{:href => "http://www.openfoundry.org/"} Website

  %li.span4
    .thumbnail
      = image_tag( "sponsor/evendesign.png", :alt => "evendesign" )
      .caption
        %h2 evendesign
        %p 有史以來最棒的網頁設計
        %p.last
          %a.btn.btn-primary{:href => "http://evenwu.com/"} Website

-# 鑽石
%ul.thumbnails


%h2 白金
%ul.thumbnails

  %li.span6
    .thumbnail
      = image_tag( "sponsor/osslab.png", :alt => "OSSLab 開放軟體實驗室" )
      .caption
        %h2 OSSLab 開放軟體實驗室
        %p 有史以來最棒的開放軟體實驗室
        %p.last
          %a.btn.btn-primary{:href => "http://www.osslab.com.tw/"} Website

  %li.span6
    .thumbnail
      = image_tag( "sponsor/hp.png", :alt => "HP 惠普" )
      .caption
        %h2 HP 惠普
        %p 有史以來最棒的電腦品牌
        %p.last
          %a.btn.btn-primary{:href => "http://www.hp.com.tw/"} Website


%h2 金級
%ul.thumbnails

  %li.span4
    .thumbnail
      = image_tag( "sponsor/synology.png", :alt => "Synology 群揮科技" )
      .caption
        %h2 Synology 群揮科技
        %p 有史以來最棒的NAS
        %p.last
          %a.btn.btn-primary{:href => "http://www.synology.com.tw/"} Website

  %li.span4
    .thumbnail
      = image_tag( "sponsor/fairline.png", :alt => "Fairline 中飛科技" )
      .caption
        %h2 Fairline 中飛科技
        %p 有史以來最棒的資安產品
        %p.last
          %a.btn.btn-primary{:href => "http://www.fairline.com.tw/"} Website

-# 銀級
%ul.thumbnails

-# 協力媒體
%ul.thumbnails

-# 會議夥伴
%ul.thumbnails