---
og_type: "website"
---

- content_for :navbar do
  = partial "/shared/navbar", :locals => { :current => "index" }

- content_for :top do
  = partial "partial/top"

= partial "partial/header"

/ Header image by http://www.flickr.com/photos/58782395@N03/5518992555/

= partial "partial/about"

= partial "partial/feature"

- content_for :footer do
  = partial "partial/hack"