!!! 5
%html.no-js
  %head
    %meta{ :charset => "utf-8" }
    %title= data.config.site_name
    /[if lt IE 9]
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    -#<link rel="shortcut icon" href="/images/favicon.ico">
    -#<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    -#<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    -#<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
    = partial "shared/fb-og-meta"
    = partial "shared/funny"
    = stylesheet_link_tag( "all" )
    = partial "shared/pictos"
  %body
    //= partial "partial/top"
    .container
      = yield
    = partial "partial/hack"
    = javascript_include_tag( "all" )
    = partial "shared/justfont"
    = partial "shared/typekit"
    = partial "shared/map-js"
    = partial "shared/fb-js"
    = partial "shared/google_analytics"